<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twitter.twitterplusp.mapper.MenuMapper">

    <select id="selectPermsByUserId" resultType="java.lang.String">
        select DISTINCT m.perms from sys_user_role ur
        LEFT JOIN sys_role r ON r.id = ur.role_id
        LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id
        LEFT JOIN sys_menu m ON m.uid = rm.menu_id
        where ur.uid = #{userId}
        AND r.status = 0
        AND m.status = 0
    </select>

</mapper>